* {
    margin: unset;
}

body {
    background: rgb(224, 228, 233);
}

.navbar {
    background: rgb(255, 255, 255);
    height: 80px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.image {
    width: 38px;
    height: 47.5px;
}

.titleLogo {
    font-family: 'Work Sans';
    font-weight: 700;
    font-size: 30px;
    color: #2947A9;
    padding-top: 16px;
    padding-bottom: 16.5px;
}

.logo {
    display: flex;
    padding-left: 112px;
    align-items: center;
    gap: 14px;
} 

.menu {
    display: flex;
    gap: 50px;
    padding-right: 112px;
    padding-top: 30px;
    padding-bottom: 29px;
}

.black {
    color: black;
    font-weight: 400;
}

.orange {
    color: orange;
    font-weight: 600;
}

a {
    text-decoration: none;
    font-family: 'Work Sans';
    font-style: normal;
    font-size: 18px;
    color: #14171F;
}

.content {
    display: flex;
}

img {
    width: 1440px;
    height: 750px;
}

.title {
    position: absolute;
    padding-left: 112px;
    padding-right: 772px;
    padding-top: 310px;
    padding-bottom: 280px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 72px;
    width: 556px;
    height: 168px;
    
}

.rectangle {
    display: flex;
    padding-left: 1024px;
    margin: unset;
    
}

.paragraph {
    display: flex;
    position: relative;
    background: #3559C7;
    width: 416px;
    height: 150px;
    bottom: 190px;
    margin-left: 1024px;
}

.back {
    position: absolute;
    background: #292E3D;
    width: 208px;
    height: 40px;
    bottom: 70px;
    margin-left: 1024px;
}

.next {
    position: absolute;
    background: #292E3D;
    width: 208px;
    height: 40px;
    bottom: 70px;
    right: 0;
    border-left: 1px solid white;
}

.titleRec {
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    top: 20px;
    bottom: 107px;
    left: 126.5px;
    right: 126.5px;
}

.txt {
    position: absolute;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #FFFFFF;
    line-height: 28px;
    top: 63px;
    bottom: 26px;
    left: 52px;
    right: 52px;
    
}

.txtB {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    top: 9.5px;
    bottom: 9.5px;
    left: 100.5px;
    right: 64.5px;
}

.txtN {
    position: absolute;
    color: #FFFFFF;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    top: 9.5px;
    bottom: 9.5px;
    left: 65px;
    right: 101px;
}

.arrow {
    position: absolute;
    width: 26px;
    height: 17px;
    top: 11.5px;
    bottom: 11.5px;
    left: 64.5px;
    right: 117.5;
}

.arrowN {
    position: absolute;
    width: 26px;
    height: 17px;
    transform: rotate(180deg);
    top: 11.5px;
    bottom: 11.5px;
    left: 116px;
    right: 65px;
}

.section {
    height: 443px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondTitle {
    color: #292E3D;
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    padding-bottom: 45px;
    padding-left: 585px;
    padding-right: 585px;
    padding-top: 60px;

}

.square {
    position: relative;
    width: 292px;
    height: 197px;
    background: #FFFFFF;
    border: 1.4px solid #E0E3EB;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.imageT, .imageD, .imageS {
   
    width: 40px;
    height: 40px;
    padding-top: 20px;
    padding-right: 232px;
    padding-bottom: 0;
    padding-left: 20px;
}

.best {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

h2 {
    color: #3D445C;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    padding-top: 18px;
    padding-right: 137px;
    padding-bottom: 0;
    padding-left: 20px;
    margin: unset;
}

.txtBest {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #858EAD;
    padding-top: 18px;
    padding-right: 18px;
    padding-bottom: 40px;
    padding-left: 20px;
}

#services {
    margin-right: 66px;
    margin-left: 216px;
}

#teams {
    margin-right: 78px;
}

#designs {
    margin-right: 204px;
}